.bussinessucces__bg {
  padding-top: 25px;
}

.bussinessuccess {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 24px 0;
  flex-direction: column;
}

.bussinessuccess__left {
  width: 100%;
}

.bussinessuccess__left-top {
  padding: 24px 0;
}

.bussinessuccess__card {
  padding: 24px 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.bussinessuccess__card-left {
  width: 66.6%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bussinessuccess__card-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bussinessuccess__card-item {
  max-width: 455px;
  padding: 0 16px;
  height: 360px;
  overflow: hidden;
}

.bussinessuccess__card-item-img {
  width: 32px;
  height: 32px;
  margin-bottom: 26px;
}

.bussinessuccess__card-item-img svg {
  fill: #005aff;
  font-size: 32px;
}

.bussinessuccess__card-item-title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.bussinessuccess__card-item-title h3 {
  font-size: 32px;
  font-weight: 300;
}

.bussinessuccess__card-item-desc p {
  font-size: 18px;
  font-weight: 300;
}
.card__wrapper {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  /* flex: 1; */
  flex-wrap: wrap;
}

.bussinessuccess__left-title {
  padding-bottom: 24px;
}

.bussinessuccess__left-title h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 16px;
}

.bussinessuccess__left-title p {
  font-size: 18px;
  margin-top: 8px;
  font-weight: 300;
}

@media screen and (max-width: 1400px) {
  .bussinessuccess__card-item {
    padding: 26px;
    padding-left: 16px;
  }
  .bussinessuccess__card-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  .bussinessuccess__card-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
  .bussinessuccess__card-item {
    margin-bottom: 20px;
    min-width: 100%;
  }
  .bussinessuccess__card-item-img {
    min-width: 100%;
    max-height: 406px;
  }
  .bussinessuccess__card-item-img img {
    height: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .bussinessuccess__card-item {
    padding: 0 10px;
    width: 100%;
    margin-bottom: 20px;
  }
  .bussinessuccess__card-item-img {
    min-width: 100%;
    max-height: 406px;
  }
  .card__img img {
    height: 100%;
    min-width: 100%;
  }
  .bussinessuccess__left-title {
    width: 100%;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
  }
  .bussinessuccess__card-item-title h3 {
    font-size: 18px;
  }
  .card__text p {
    font-size: 16px;
    font-weight: 400;
  }
}
